* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-container-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  overflow: auto;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgb(247, 177, 48) 0%,
    rgb(218, 114, 187) 80%,
    rgb(135, 13, 250) 99%
  );
}

.control-panel {
  display: flex;
  margin-bottom: 25px;
  font-family: "Montserrat";
}

.start-button {
  border: none;
  background-color: black;
  color: white;
  width: 15%;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: gray 0.3s ease;
}

.start-button:active {
  background-color: gray;
  transition: all 0s ease;
}

.game {
  width: 40%;
  height: 75%;
}

.game-details {
  font-size: 16px;
  color: white;
  font-weight: 600;
  margin-right: 25px;
}

.game-container {
  background: linear-gradient(
    to bottom right,
    rgb(135, 13, 250) 5%,
    rgb(218, 114, 187) 25%,
    rgb(247, 177, 48) 99%
  );
  box-shadow: 10px 10px 6px transparent;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.box-container {
  position: relative;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.black-box-container {
  transform-style: preserve-3d;
  padding: 10px;
  width: 25%;
  height: 25%;
  transition: transform 0.5s;
}

.black-box-container.flip {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.box {
  width: 100%;
  border-radius: 10px;
  background-color: black;
  height: 100%;
  position: relative;
  backface-visibility: hidden;
}

.image {
  position: absolute;
  width: 87%;
  height: 87%;
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

@media screen and (max-width: 780px) {
  .game {
    width: 70%;
    height: 50%;
  }
  .image{
    width: 75%;
    height: 80%;
  }
}

@media screen and (max-width: 480px) {
  .game {
    width: 100%;
    height: 45%;
  }

  .image{
    width: 73%;
    height: 73%;
  }
}
